<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget" value="https://www.nuget.org/api/v2" />
		<add key="XamarinersMyget" value="https://www.myget.org/F/xamariners-feed/auth/013a5f91-ab9f-4ab3-a89c-574b1ea1b65f/api/v3/index.json" />
	</packageSources>
	<activePackageSource>
		<add key="All" value="(Aggregate source)" />
	</activePackageSource>
</configuration>